<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>TiluaGateWay</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <script charset="utf-8" src="/static/js/jquery.min.js"></script>
    <style type="text/css">
        .layui-form-label {
            width: 80px;
        }
    </style>
</head>
<div id="add_form">
    <form class="layui-form">
        <body style="width: 500px;padding: 10px;"><input name="id" type="hidden" value="{{id}}">

        <div class="layui-form-item">
            <label class="layui-form-label">密钥名称</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="required" name="name" placeholder="请输入密钥名称"
                       required
                       type="text" value="{{name}}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">AccessKey(ak)</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" name="accessKey" placeholder="为空自动生成" readonly type="text"
                       value="{{accessKey}}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">SecretKey(sk)</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" name="secretKey" placeholder="为空自动生成" readonly type="text"
                       value="{{secretKey}}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">

                <input type="radio" name="status" lay-skin="primary" value="1" title="启用" {% if status==1  then %} checked {% end  %}/>
                <input type="radio" name="status" lay-skin="primary" value="0" title="禁用" {% if  status==0 then %} checked {% end  %}>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="formDemo" lay-submit>立即提交</button>
                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
            </div>
        </div>
    </form>
</div>

<script charset="utf-8" src="/static/layui/layui.js"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            $.ajax({
                //请求方式
                type: "PUT",
                //请求地址
                url: "/secrets/" + data.field.id,
                data: JSON.stringify(data.field),
                contentType: "application/json;charset=UTF-8",
                //请求成功
                success: function (result) {
                    if (result.code == 0) {
                        if (parent) {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                            parent.layui.table.reload('test')
                        }
                    } else {
                        layer.alert(JSON.stringify(result));
                    }
                },
                //请求失败，包含具体的错误信息
                error: function (e) {
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
            return false;
        });
    });
</script>
</body>
</html>