<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>TiluaGateWay</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js" charset="utf-8"></script>
    <style type="text/css">
        .layui-form-label {
            width: 120px;
        }

        .layui-input-inline {
            width: 300px;
        }

        .layui-input-block {
            margin-left: 150px;
        }
    </style>
</head>
<body style="width: 500px;padding: 10px;">
<div id="add_form">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">匹配协议</label>
            <div class="layui-input-block">
                <input type="checkbox" name="protocols" lay-skin="primary" value="HTTP" title="HTTP"/>
                <input type="checkbox" name="protocols" lay-skin="primary" value="HTTPS" title="HTTPS">
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">匹配请求方法</label>
            <div class="layui-input-block">
                <input type="checkbox" name="methods" lay-skin="primary" title="GET" value="GET">
                <input type="checkbox" name="methods" lay-skin="primary" title="POST" value="POST">
                <input type="checkbox" name="methods" lay-skin="primary" title="PUT" value="PUT">
                <input type="checkbox" name="methods" lay-skin="primary" title="DELETE" value="DELETE">
                <input type="checkbox" name="methods" lay-skin="primary" title="HEAD" value="HEAD">
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">匹配规则</label>
            <div class="layui-input-block">
                <select name="matcher">
                    <option value="~">正则匹配</option>
                    <option value="*">最长匹配</option>
                    <option value="=">精确匹配</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">匹配主机</label>
            <div class="layui-input-block">
                <div class="layui-input-inline" style="width: 300px">
                    <input type="text" name="hosts" placeholder="请输入主机"
                           autocomplete="off"
                           class="layui-input"/>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <button type="button" class="layui-btn layui-btn-sm" onclick="addPath(this,'hosts')"><i
                            class="layui-icon layui-icon-addition"></i></button>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">匹配路径</label>
            <div class="layui-input-block">
                <div class="layui-input-inline" id="paths" style="width: 300px">
                    <input type="text" name="paths" placeholder="请输入路径" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <button type="button" class="layui-btn layui-btn-sm" onclick="addPath(this,'paths')"><i
                            class="layui-icon layui-icon-addition"></i></button>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">匹配请求头</label>
            <div class="layui-input-block">
                <textarea placeholder="例如，accessToken:teestss,多个请求头用逗号分隔" class="layui-textarea"
                          name="headers"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否保留请求主机</label>
            <div class="layui-input-block">
                <input type="checkbox" name="preserve_host" lay-skin="switch" lay-filter="switchTest" title="开关">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否保留匹配前缀</label>
            <div class="layui-input-block">
                <input type="checkbox" name="strip_path" lay-skin="switch" lay-filter="switchTest" title="开关">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请求处理类型</label>
            <div class="layui-input-block">
                <select name="proxy_type" lay-verify="required">
                    <option value="proxy">代理</option>
                    <option value="baffle">挡板</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">资源id</label>
            <div class="layui-input-block">
                <input type="text" name="serviceid" placeholder="请输入关联服务ID" autocomplete="off"
                       class="layui-input" lay-verify="required" required>
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">路径处理方式</label>
            <div class="layui-input-block">
                <select name="path_handle">
                    <option value="v0">追加</option>
                    <option value="v1">连接</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验证规则</label>
            <div class="layui-input-block">
                <textarea placeholder="例如，env:in,uat,pro多个验证规则用;分隔" class="layui-textarea"
                          name="validations"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script charset="utf-8" src="/static/layui/layui.js"></script>
<script>
    function addPath(item, field) {
        $(item).parent().prev().append("<input type=\"text\" name=\"" + field + "\"  autocomplete=\"off\" class=\"layui-input\" style='margin-top: 10px'>\n");
    }

    layui.use(['form'], function () {
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            //alert($('form').serialize())
            $.ajax({
                //请求方式
                type: "POST",
                //请求的媒体类型
                //contentType: "application/json;charset=UTF-8",
                //请求地址
                url: "/routes",
                //数据，json字符串
                data: $('form').serialize(),//JSON.stringify(data.field),
                //请求成功
                success: function (result) {
                    if (result.code == 0) {
                        if (parent) {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                            parent.layui.table.reload('test')
                        }
                    } else {
                        layer.alert(result.msg);
                    }
                },
                //请求失败，包含具体的错误信息
                error: function (e) {
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
            return false;
        });
    });
</script>
</body>
</html>