<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
</head>
<style type="text/css">
    body {
        width: 980px;
        margin: 30px auto;
    }
</style>
<body>
<form method="post" enctype="multipart/form-DATA" action="/index/upload">
    <input type="file" name="img"/>
    <input name="img" type="file"/>
    <input id="otherName" name="otherName" type="hidden" value="abcdefg"/>
    <input name="username" type="text"/>
    <input type="submit" value="提交"/>
</form>
</body>
</html>