<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>联网核查 -- 系统登录</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js" charset="utf-8"></script>
</head>
<body>
<div class="layui-container" style="margin-top: 18%">
    <div class="layui-row" style="margin-bottom: 20px">
        <div class="layui-col-md4">
            &nbsp;
        </div>
        <div class="layui-col-md4" style="text-align: center">
            <h1>系统登录</h1>
        </div>
        <div class="layui-col-md4">
            &nbsp;
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md3">
            &nbsp;
        </div>
        <div class="layui-col-md6">
            <form class="layui-form" action="/user/login" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" lay-verify="required" required lay-reqtext="用户名是必填项，岂能为空？"
                               placeholder="请输入"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" placeholder="请输入密码" required autocomplete="off"
                               lay-reqtext="密码是必填项，岂能为空？"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center">
                    没有账号，请先<a href="/user/register" target="_blank">注册</a>
                </div>
                <div class="layui-form-item" style="text-align: center">
                    <button type="submit" class="layui-btn layui-btn-lg " lay-submit="" lay-filter="demo1">登录</button>
                    <button type="reset" class="layui-btn layui-btn-primary  layui-btn-lg ">重置</button>
                </div>
            </form>
        </div>
        <div class="layui-col-md3">
            &nbsp;
        </div>
    </div>
    <div class="layui-footer" style="text-align: center;margin-top: 50px;">
        <!-- 底部固定区域 -->
        你的IP为:{{ip}}
    </div>
</div>
<script charset="utf-8" src="/static/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;


        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });
    });
</script>
</body>
</html>