<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{certName}}身份验证信息</title>
</head>

<body>

<style>
    body {
        width: 850px;
        margin: 10px auto;
    }

    ul.lwhc {
        list-style: none;
        padding-top: 3px;
        width: 350px;
        height: 198px;
    }

</style>
<h2 align="center">{{certName}}个人身份信息</h2>
<h3>证件信息</h3>
<img src="http://32.254.32.35:8080/index.php/Query/imageEx/{{certNo}}/a/{{recordid}}">
<img src="http://32.254.32.35:8080/index.php/Query/imageEx/{{certNo}}/b/{{recordid}}">
<h3>核查结果</h3>
<ul class="lwhc">
    <li><img src='{% if result == '00' then %}http://32.254.64.68/File/getImg/fileid/{{fileid}}{% else %}http://32.254.32.35:8080/resource/images/nopic.jpg{% end %}' height="161" width="120"/>
    </li>
    <li><span style="margin-left:20px;font-size:12px;">公安部返回数据</span>
    </li>
</ul>
该证件在公安部数据库核查结果为：{{resultmsg}}
</body>
</html>
